
@{
    ViewBag.Title = "Участники мероприятия";
}

<div>
    <h3>Список участников</h3>
    <table class="table table-bordered ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th  scope="col"><p>Имя</p></th>
                <th scope="col"><p>Фамилия</p></th>
                <th scope="col"><p>Отчество</p></th>
                <th scope="col"><p>Дата рождения</p></th>
                <th scope="col"><p>Страна проживания</p></th>
                <th scope="col"><p></p></th>

            </tr>
        </thead>
        @foreach (var b in ViewBag.Registration)
        {
        <tbody>
            <tr>
                <th scope="row"><p>@b.Registration_Id</p></th>
                <td><p>@b.Name</p></td>
                <td><p>@b.SurName</p></td>
                <td><p>@b.LastName</p></td>
                <td><p>@b.DateBors</p></td>
                <td><p>@b.Country</p></td>
                
                
            </tr>
        </tbody>
        }
    </table>
</div>
